<!-- footer -->
<footer class="main-footer">
	<div class="container">
		<div class="row footer_edit">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-people-group"></i>
					<h2>¿Quienes somos?</h2>
					<p>En TMT, somos apasionados por los autos y nos dedicamos a brindar a nuestros clientes una
						experiencia excepcional en la compra y venta de vehículos. Con un equipo comprometido y muchas
						opciones. estamos a disposicion para ayudarte a encontrar el auto perfecto. ¡Disfrute la
						experiencia!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-money-bill-wave"></i>
					<h2>¡Haz realidad tu sueño!</h2>
					<p>¡Haz realidad tu sueño de conducir el auto perfecto con nuestro servicio de financiamiento a
						medida! En TMT, nos comprometemos a hacer mas facil tu proceso de compra ofreciéndote opciones
						flexibles y accesibles de financiamiento. Nuestro equipo experto está para ayudarte a encontrar
						la mejor solución que se adapte a tus necesidades y presupuesto. ¡Da el primer paso hacia tu
						próximo vehícul!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Seguridad, de principio a fin</h2>
					<p>Tu seguridad es nuestra prioridad. Nos comprometemos a entregar un servicio seguro y confiable
						para cada transacción. Desde la selección cuidadosa de nuestros vehículos hasta los rigurosos
						controles de calidad, puedes confiar en nosotros para ofrecerte una experiencia de compra de
						autos sin preocupaciones.</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->