<!DOCTYPE html>
<html lang="es">

<body>
<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<!-- Header -->
<%- include("./partials/header") %>
<!-- Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<div class="formulario">
			<form action="/profile/login" method="get">

			<div>
					<input type="email" name="email" value="" placeholder="Email" class="input_disnio">
			</div>
			<div>
				<input type="password" name="contrasenia" value="" placeholder="Contraseña" class="input_disnio">
			</div>
			<div class="recordarme">
				Recordame <input type="checkbox" name="recordarme" value="" placeholder="Recordame" > 
			</div>
			<div  classs= "boton_submit">
				<a href="/">	<input type="submit" name="enviar" id="" placeholder="Enviar" class="input_disnio"> </a>
			</div>
		</form>

		</div>
		

		</h2>
	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>