<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<!-- Header -->
<%- include("./partials/headerLogueado") %>
<!-- Header -->

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="/profile/profile-edit" method="get" class="formulario">
				<div>
						<input type="email" name="email" value="" placeholder="Email" class="input_disnio">
				</div>
				<div>
					<input type="text" name="usuario" value="" placeholder="Usuario" class="input_disnio">
				</div>
				<div>
					<input type="password" name="contrasenia" value="" placeholder="contraseña" class="input_disnio">
				</div>
				<div>
					<input type="date" name="fecha" value="" placeholder="Fecha de nacimiento" class="input_disnio">
				</div>
				<div>
					<input type="number" name="dni" value="" placeholder="DNI" class="input_disnio">
				</div>
				<div>
					<input type="text" name="fotoPerfil" value="" placeholder="Enlace a foto de perfil" class="input_disnio">
				</div>
				<div>
					<input type="submit" name="enviar" id="" placeholder="Enviar" class="input_disnio">
				</div>
			</form>
		
		
		
		
		
		
		
		
		
		
		
		
		
		</h2>


<!-- footer -->
<%- include("./partials/footer") %>
<!-- /footer -->
</body>

</html>