<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<!-- Header -->
<%- include("./partials/header") %>
<!-- Header -->

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->

			
				<div class="formulario">
				<form action="/profile/register" method="get">
					<div>
							<input type="email" name="email" value="" placeholder="Email" class="input_disnio">
					</div>
					<div>
						<input type="text" name="usuario" value="" placeholder="Usuario" class="input_disnio">
					</div>
					<div>
						<input type="password" name="contrasenia" value="" placeholder="Contraseña" class="input_disnio">
					</div>
					<div>
						<input type="date" name="Fecha de nacimiento" value="" placeholder="Fecha de nacimiento" class="input_disnio">
					</div>
					<div>
						<input type="number" name="DNI" value="" placeholder="DNI" class="input_disnio">
					</div>
					<div>
						<input type="text" name="fotodeperfil" value="" placeholder="Enlace a foto de perfil" class="input_disnio">
					</div>

				</form>
					<div>
						<a href="/profile/login">	<input type="submit" name="enviar" id="" placeholder="Enviar" class="input_disnio"> </a>
					</div>
				</div>
				
			
		</div>
<!-- footer -->
<%- include("./partials/footer") %>
<!-- /footer -->
</body>

</html>